section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 100%;
    position: relative;
}

.login-container{
    background-color: white;
    width: 1200px;
    height:800px;
    display: flex;
    box-shadow: 0 6px 20px rgba(0,0,0, 0.5);
    border-radius: 20px;
    margin-top: 10px;
}

.login-container .content-box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50%;
}

section .img-box{
    position: relative;
    width: 50%;
    height: 100%;
}

section .img-box img{
    position: absolute;
    top:0;
    left:0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}



 section .login-container .form-box h2 {
    color:#2f3640;
    font-weight: 600;
    font-size: 1.5em;
    text-transform: uppercase;
    margin-bottom: 20px;
    border-bottom: 4px solid #2E8B57;
    display: inline-block;
    letter-spacing: 1px;
}

.login-container .input-box{
    margin-bottom: 20px;
}

.login-container .input-box span{
    font-size:18px;
    margin-bottom: 5px;
    display: inline-block;
    letter-spacing: 1px;
    font-weight: 400;
    color:#607d8b;
}

section .login-container input{
    width: 100%;
    padding:10px 20px;
    outline: none;
    border:1px solid #2f3640;
    font-size: 16px;
    letter-spacing: 1px;
    color:#2f3640;
    background: transparent;
    border-radius: 30px;
}

.login-container .login-btn{
    background:rgba(46, 139, 87);
    border-radius: 30px;
    letter-spacing: 1px;
    outline: none;
    width: 100%;
    padding:10px 20px;
    cursor: pointer;
    color: #fff;
    border:none;
}

.login-container .login-btn:hover{
    background-color:rgba(46, 139, 87,0.9);
}

section .login-container .input-box p{
    color:#2f3640;
}

section .login-container .input-box p a{
    color:#2E8B57;
    cursor: pointer;
}

@media screen and (max-width: 1700px){
    .login-container{
        height: 90%;
        margin-top: 20px;
    }
}

@media screen and (max-width: 1200px){
    section .img-box{
        display: none;
    }

    section .login-container{
        height: 90%;
        width: 90%;
        margin-top: 50px;
    }

    section .login-container .content-box{
        width: 100%;
        height: 100%;
    }

    section .content-box .form-box{
        width: 100%;
        padding: 40px;
        background: rgba(255,255, 255, 0.9);
        margin: 50px;
    }
}