section{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    width: 100%;
    position: relative;
}

.passwordChanges-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    width: 500px;
    box-shadow: 0 6px 20px rgba(0,0,0, 0.5);
    font-family: sans-serif;
    border-radius: 20px;
    max-width: 100%;
}

.passwordChanges-container .content-box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.passwordChanges-container .content-box h2{
    color:#2f3640;
    font-weight: 600;
    font-size: 1.5em;
    text-transform: uppercase;
    margin-bottom: 20px;
    border-bottom: 4px solid #2ecc71;
    display: inline-block;
    letter-spacing: 1px;
}

.passwordChanges-container .input-box{
    margin: 10px;
}

.passwordChanges-container .input-box input{
    height: 50px;
    width: 250px;
    border-radius: 30px;
    padding:10px 20px;
    outline: none;
    background: transparent;
    border:2px solid #2ecc71;
    font-weight: bold;
    color:#2f3640;
    transition: 0.25s;
}

.passwordChanges-container .input-box input:focus{
    width:350px;
    border-color:#ff5252;
}

.passwordChanges-container .passwordChanges-btn{
    background: none;
    width: 200px;
    height: 40px;
    border-radius: 30px;
    color: #2f3640;
    font-weight: 600;
    border: 2px solid #ff5252;
    cursor: pointer;
    padding: 5px;
}

.passwordChanges-container .passwordChanges-btn:hover{
    background-color:#ff5252;
    color: #fff;
}

@media screen and (max-width: 550px) {
    .passwordChanges-container{
        max-width: 90%;
    }
}

@media screen and (max-width: 450px) {
    .passwordChanges-container .content-box h2{
        border-bottom: none;
        font-size: 20px;
    }
}